<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sourabh.discountmartadmin">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SliderActivity"
            android:label="@string/title_activity_slider"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RetailersActivity"
            android:label="@string/title_activity_retailers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.AddSliderActivity" />
        <activity
            android:name=".activities.RetailerCategoryActivity"
            android:label="@string/title_activity_retailer_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ServiceProviderCategories"
            android:label="@string/title_activity_servce_provider_categories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CitiesActivity"
            android:label="@string/title_activity_cities"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>